/.vs
/FrontendMessage/bin
/FrontendMessage/obj
/Pingo.Messages.WebApi/bin
/Pingo.Messages.WebApi/obj
/Pingo.Messages.ComponentTests/bin
/Pingo.Messages.ComponentTests/obj
/Pingo.Messages/bin
/Pingo.Messages/obj
/Pingo.Identity.Service/bin
/Pingo.Identity.Service/obj
/Pingo.Identity.WebApi/bin
/Pingo.Identity.WebApi/obj
/Pingo.Identity.ComponentTests/bin
/Pingo.Identity.ComponentTests/obj