@model Web_miniCRM.Domain.Entity.Meeting

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Meeting</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2>Регистрация встречи</h2>
    <form asp-action="UpsertMeeting" method="post">
        <input type="hidden" name="ManagerId" value="@Model.ManagerId" />
        <div class="invoice-info">
            <label for="Company">Компании:</label>
            <select id="Company" name="CompanyId">
                @foreach (var company in Model.Manager.Companies)
                {
                    <option value="@company.CompanyId">@company.CompanyName</option>
                }
            </select>
            <label for="MeetingDate">Дата встречи:</label>
            <input type="date" id="MeetingDate" name="MeetingDate" />
            <label for="Address">Адрес:</label>
            <input type="text" id="Address" name="Address" />
            <label for="NameContactPerson">Имя контактного лица</label>
            <input type="text" id="NameContactPerson" name="NameContactPerson" />
        </div>
        <label for="Details">Дополнительная информация по встрече:</label>
        <input type="text" id="Details" name="Details" />
        <button type="submit">Зарегистрировать встречу</button>
    </form>

</body>
</html>

