@page "/"
@using Blazored.LocalStorage
@using FrontendMessage.Entity
@using MudBlazor
@inject IdentityApiClient http
@inject NavigationManager navigation
@inject ILocalStorageService storageService

<PageTitle>Вход в чат</PageTitle>


<MudTextField @bind-Value="_email" Label="Логин" />
<MudTextField @bind-Value="_password" Label="Пароль" />
<MudButton OnClick="HandleLogin" type="button">Принять</MudButton>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div style="color: red;">@_errorMessage</div>
}

@code {
    private string _email = string.Empty;
    private string _password = string.Empty;
    private string _errorMessage = string.Empty;

    private async Task HandleLogin()
    {

        if (string.IsNullOrWhiteSpace(_email) ||
            string.IsNullOrWhiteSpace(_password))
        {
            _errorMessage = "Заполните все поля";
            return;
        }

        try
        {
            var response = await http.Client.PostAsJsonAsync("api/identity/login",
                new {Email = _email, Password = _password});

            if (response.IsSuccessStatusCode)
            {
                var tokens = await response.Content.ReadFromJsonAsync<TokenResponse>();
                await storageService.SetItemAsync("accessToken", tokens!.AccessToken);
                await storageService.SetItemAsync("refreshToken", tokens.RefreshToken);
                await storageService.SetItemAsync("email", _email);
                navigation.NavigateTo("/Chat");
            }
            else
            {
                _errorMessage = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Ошибка: {ex.Message}";
        }
    }
}

