* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/*.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}*/

.button-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /*20*/
    width: 200px; /* Фиксированная ширина для контейнера кнопок */
}


.table-container {
    flex-grow: 1;
    position: relative;
    left: 390px; /*left: 300px;*/
    top: -40px; /*top: -84px;*/
    width: 800px; /*width: 1000px;*/
}
.table-container-Companies {
    flex-grow: 1;
    position: relative;
    left: 325px;
    top: -13px; 
    width: 800px;
    margin-top: -160px;
}

.table-container-ManagerCompany {
    flex-grow: 1;
    position: relative;
    left: 450px;
    top: -69px;
    width: 800px;
}
.table-container-Manager_Invoices_Calls_Meetings {
    flex-grow: 1;
    position: relative;
    left: 450px;
    top: -390px;
    width: 800px;
}

.table-container-Company_Invoices_Calls_Meetings {
    flex-grow: 1;
    position: relative;
    left: 450px;
    top: -325px;
    width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 200px;
    height: 55px;
    border: 1.5px solid rgba(2, 9, 16, 0.13);
    border-radius: 2px;
    background: rgb(255, 255, 255);
    text-align: center;
    line-height: 25px; /*55px;*/
}

thead {
    background: rgba(107, 174, 118, 0.2);
}
