@model Web_miniCRM.Domain.Entity.Call

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Invoice</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2>Регистрация звонка</h2>
    <form asp-action="UpsertCall" method="post">
        <input type="hidden" name="ManagerId" value="@Model.ManagerId" />
        <div class="invoice-info">
            <label for="Company">Компании:</label>
            <select id="Company" name="CompanyId">
                @foreach (var company in Model.Manager.Companies)
                {
                    <option value="@company.CompanyId">@company.CompanyName</option>
                }
            </select>
            <label for="CallDate">Дата звонка:</label>
            <input type="date" id="CallDate" name="CallDate" />
            <label for="PhoneNumber">Номер телефона:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber"/>
            <label for="NameContactPerson">Имя контактного лица</label>
            <input type="text" id="NameContactPerson" name="NameContactPerson" />
        </div>
        <label for="Details">Дополнительная информация по звонку:</label>
        <input type="text" id="Details" name="Details" />
        <button type="submit">Зарегистрировать звонок</button>
    </form>

</body>
</html>
