@model Web_miniCRM.Domain.Entity.Company

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание счета</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2>Создание компании</h2>
    <form asp-action="UpsertCompany" method="post">
        <input type="hidden" name="ManagerId" value="@Model.ManagerId" />

        <label for="CompanyName">Название компании</label>
        <input type="text" id="CompanyName" placeholder="Рога и Копыта" name="CompanyName" />

        <label for="CompanyINN">ИНН</label>
        <input type="text" id="CompanyINN" placeholder="10 цифр" name="INN" />

        <label for="CompanyNameContactPerson">Контактное лицо</label>
        <input type="text" id="CompanyNameContactPerson" placeholder="Иван" name="NameContactPerson" />

        <label for="CompanyEmail">Email</label>
        <input type="text" id="CompanyEmail" placeholder="Example@exampe.com" name="Email" />

        <label for="CompanyPhoneNumber">Телефон</label>
        <input type="text" id="CompanyPhoneNumber" placeholder="123456789" name="PhoneNumber" />

        <label for="CompanyInformations">Информация</label>
        <input type="text" id="CompanyInformations" placeholder="Информация о компании" name="Informations[0].Details" />


        <button type="submit">Сохранить компанию</button>
    </form>
</body>
