@model List<Web_miniCRM.Domain.Entity.Product>


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left: -600px;">Продукты</h1>
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<div class="table-container-Companies" style="margin-top: 70px; margin-left: -100px;">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Наименование</th>
				<th>Стоимость</th>
				<th>Остаток</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.ProductId</td>
					<td>@product.Name</td>
					<td>@product.Price</td>
					<td>@product.CountAllProduct</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>