@{
}

<div class="button-container">
	<button class="custom-button" type="button" id="myButton" onclick="location.href='@Url.Action("GetCompanies", "Company")'">
		Компании
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetProducts", "Product")'">
		Склад
	</button>
</div>