@model Web_miniCRM.Domain.Entity.HeadDepartment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание руководителя отдела</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2>Создание руководителя отдела</h2>
    <form asp-action="UpsertHeadDepartment" method="post">
        <input type="hidden" name="HeadDepartmentId" value="@Model.HeadDepartmentId" />

        <label for="DepartmentNumber">Отдел:</label>
        <input type="text" id="DepartmentNumber" name="DepartmentNumber" />

        <label for="FirstName">Имя:</label>
        <input type="text" id="FirstName" name="FirstName" />

        <label for="LastName">Фамилия:</label>
        <input type="text" id="LastName" name="LastName" />

        <label for="NumberPhone">Телефон:</label>
        <input type="text" id="NumberPhone" name="NumberPhone" />

        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" />

        <button type="submit">Сохранить</button>
    </form>
</body>
